*,
html,
body {
  font-family: "Poppins", sans-serif;
  font-size: 10px;
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
body {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  margin: 0px;
  padding: 0px;
  height: 100vh;
  overflow: hidden;
  /* background: transparent; */
  background: linear-gradient(243.18deg, #A7ABFF 0%, #AAFDDA 100%);
}

.mainBody {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 30%;
  height: 100%;
  gap: 20px;
  /* background: lightblue; */
}

.imgCadr {
  height: 220px;
  width: 220px;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  background-image: url("https://media-exp1.licdn.com/dms/image/C4E03AQHuhFlnySUMSg/profile-displayphoto-shrink_800_800/0/1658549407259?e=1663804800&v=beta&t=gj6j3pMvkfiIFM2GBj19fCIYo2DTfJhhnlwPF6ExIyE");
  object-fit: contain;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50%;
}

.headline {
  text-align: center;
}

h1 {
  font-size: 3rem;
  line-height: 1;
}

span {
  font-size: 1.6rem;
  font-weight: 500;
}

p {
  font-size: 1.7rem;
  text-align: justify;
  color: rgb(39, 39, 39);
}

i {
  font-size: 2.5rem;
}

hr.solid {
  border: 0.1px solid rgb(129, 128, 128);
  /* color: #A7ABFF; */
  background-color: rgb(129, 128, 128);
  max-width: 50%;
  width: 100%;
  border-radius: 5px;
}

.icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

a {
  text-decoration: none;
  color: black;
}



@media only screen and (min-width: 1950px) {
    .mainBody {
        max-width: 500px;
    }
}

@media only screen and (max-width: 1400px) {
    .mainBody {
        max-width: 30%;
    }
}

@media only screen and (max-width: 1000px) {
    .mainBody {
        max-width: 40%;
    }
    
}

@media only screen and (max-width: 800px) {
    .mainBody {
        max-width: 50%;
    }
    .imgCadr {
      height: 180px;
      width: 180px;
    }

    h1 {
        font-size: 2.3rem;
    }

    p {
        font-size: 1.6rem;
    }
}

@media only screen and (max-width: 600px) {
    .mainBody {
        max-width: 80%;
    }
    .imgCadr {
      height: 160px;
      width: 160px;
    }

    h1 {
        font-size: 2.3rem;
    }

    p {
        font-size: 1.4rem;
    }
}

@media only screen and (max-width: 400px) {
    .mainBody {
        max-width: 90%;
    }

    h1 {
        font-size: 2.3rem;
    }

    p {
        font-size: 1.4rem;
    }
}